/* CSS Document */

/* Boundaries extend all the way to edge of window */
html {
	width: 100%;
}

body {
	width: 100%;
	padding: 0;
	margin: 0;
	background-color: black;
	overflow-x: hidden;
	overflow-y: auto;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Top menu color, width, position */
.topLevelMenu {
	background: rgba(30, 30, 30,1);
	position: fixed;
	width: 100%;
	height: 4%;
	height: 40px;
	align-items: center;
	margin: 0;
	z-index: 1000;
}

/* Logo container */
.logo {
	font-family: sans-serif;
	font-size: calc(7px + 0.8vw);
	color: white;
	padding: 0 20px 0 35px;
	white-space: nowrap;
}

/* Top menu item position */
.topLevelMenu > li {
	top: 0px;
	padding: 0px 0px;
	margin: 0px 1vw; /* Equally space items */
	white-space: nowrap;
}

/* Top menu item link formatting */
.topLevelMenu > li > a {
	cursor: pointer;
	padding: 9px 15px;
}

/* Color change on hover over top menu item */
.topLevelMenu > li > a:hover {
	background: rgba(80, 70, 70, 1);
	padding: 9px 15px;
}

/* Top menu text formatting */
.topLevelMenu > li > a {
	color: white;
	text-decoration: none;
	font-family: sans-serif;
	font-size: calc(7px + 0.8vw);
}

/* Secondary menu color and positioning */
.secLevelMenu {
	padding: 4px 10px 10px 10px;
	background: rgba(170, 170, 170, 0.8);
	top: 100%;
	min-width: 170px;
	width: 6%;
	white-space: normal;
	/*border: 1px solid blue;*/
}

.secLevelMenu > li {
	position: relative;
	padding: 6px 6px 3px 6px;
}

/* Secondary menu text formatting*/
.secLevelMenu > li > a {
	text-decoration: none;
	font-family: sans-serif;
	font-size: calc(10px + 0.5vw);
}

.secLevelMenu > li > a:hover {
	background: rgba(160, 160, 160, 1);
}

/* --------- NAVBAR FUNCTIONALITY --------- */

nav{
	position:relative;
}

/* Remove list formatting and align second and third level menus under top level menu */
ul, li {
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}

/* Place entire menu in a FlexBox and align them horizontally */
.topLevelMenu {
	display: flex;
	flex-basis: auto;
	flex-direction: row;
	justify-content: space-between;
}

/* Prevents top-menu from shifting when dropdown opens. Aligns dropdown directly below header. Creates word-wrap */
.secLevelMenu {
	position: absolute;
}

/* EXAMPLE: Increase clickable area of 2nd menu links.  Will do once everything else is formatted properly;
.secLevelMenu > li > a {
	/*border: 1px solid green;
}

.secLevelMenu > li:first-child > a:first-child::before {
    content: '';
    position: absolute;
    width: 270%;
	height: 89%;
	margin-top:-5px;
	margin-left:-15px;
	background: rgba(255, 0, 0, 0.5)
} */

/* Stop displaying dropdowns by default */
.secLevelMenu {
	display: none;
}

/* Stop displaying secondary dropdowns by default */
.thirdLevelMenu {
	display: none;
}

/* SIDE-NAVIGATION BAR */
main {
	position: absolute;
	width: 100vw;
	height: 100vh;
	margin-top: 40px;
}

.contentContainer {
	position: relative;
	width: 100%;
	height: 100%;
	background: transparent;
	display: flex;
	align-items: center;
}

.boxOverlay {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
    width: 100%;
	height: 100%;
	background: transparent;
}

.implementationText {
	position: relative;
	width: 100%;
	max-height: 20%;
}
.titleText {
	position: relative;
	color: rgba(255, 255, 255, 0.5);
	text-align: center;
	font-size: 12vw;
	font-family: sans-serif;
	font-weight: 600;
	top: 0%;
}

.cardContainer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}

.flipCard {
	position: relative;
	background: transparent;
	min-width: 300px;
	min-height: 300px;
	width: 29vw;
	height: 40vh;
	max-width: 1200px;
	max-height: 800px;
	perspective: 1000px;
	margin-right: 2%;
	margin-left: 0%;
	margin-top: 2%;
}

.flipCard-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.8s;
	transition-delay: 0.2s;
	transform-style: preserve-3d;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flipCard:hover .flipCard-inner {
	transform: rotateY(180deg);
}

.flipCard-front, .flipCard-back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.flipCard-front {
	background-color: #bbb;
	color: black;
}

.flipCard-back {
	background-color: purple;
	color: white;
	transform: rotateY(180deg)
}

.spacer {
	flex-basis: 100%;
	height: 10vh;
	max-height: 40px;
}

.flipCard-front img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.flipCard-front p {
	position: absolute;
	background: white;
	bottom: -2%;
	left: 0%;
	width: 100%
}

@media only screen and (max-width: 944px) {
	.topLevelMenu {
		background: rgba(30, 30, 30,1);
		position: fixed;
		width: 100%;
		height: 4%;
		min-height: 40px;
		max-height: 70px;
		align-items: center;
		margin: 0;
		z-index: 1000;
	}
	
	.logo {
		display: none;
	}
	
	.topLevelMenu > li {
		top: 0px;
		padding: 0px 1.7%;
		margin: 0px 0; /* Equally space items */
		white-space: nowrap;
		justify-content: space-around;
	}
}