/* CSS Document */

/* Boundaries extend all the way to edge of window */
html {
	width: 100%;
}

body {
	width: 100%;
	padding: 0;
	margin: 0;
	background-color: black;
	overflow-x: hidden;
	overflow-y: auto;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Top menu color, width, position */
.topLevelMenu {
	background: rgba(30, 30, 30,1);
	position: fixed;
	width: 100%;
	height: 4%;
	min-height: 40px;
	max-height: 40px;
	align-items: center;
	margin: 0;
	z-index: 1000;
}

/* Logo container */
.logo {
	font-family: sans-serif;
	font-size: calc(7px + 0.8vw);
	color: white;
	padding: 0 20px 0 35px;
	white-space: nowrap;
}

/* Top menu item position */
.topLevelMenu > li {
	top: 0px;
	padding: 0px 0px;
	margin: 0px 1vw; /* Equally space items */
	white-space: nowrap;
}

/* Top menu item link formatting */
.topLevelMenu > li > a {
	cursor: pointer;
	padding: 9px 15px;
}

/* Color change on hover over top menu item */
.topLevelMenu > li > a:hover {
	background: rgba(80, 70, 70, 1);
	padding: 9px 15px;
}

/* Top menu text formatting */
.topLevelMenu > li > a {
	color: white;
	text-decoration: none;
	font-family: sans-serif;
	font-size: calc(7px + 0.8vw);
}

/* Secondary menu color and positioning */
.secLevelMenu {
	padding: 4px 10px 10px 10px;
	background: rgba(170, 170, 170, 0.8);
	top: 100%;
	min-width: 170px;
	width: 6%;
	white-space: normal;
	/*border: 1px solid blue;*/
}

.secLevelMenu > li {
	position: relative;
	padding: 6px 6px 3px 6px;
}

/* Secondary menu text formatting*/
.secLevelMenu > li > a {
	text-decoration: none;
	font-family: sans-serif;
	font-size: calc(10px + 0.5vw);
}

.secLevelMenu > li > a:hover {
	background: rgba(160, 160, 160, 1);
}

/* --------- NAVBAR FUNCTIONALITY --------- */

nav{
	position:relative;
}

/* Remove list formatting and align second and third level menus under top level menu */
ul, li {
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}

/* Place entire menu in a FlexBox and align them horizontally */
.topLevelMenu {
	display: flex;
	flex-basis: auto;
	flex-direction: row;
	justify-content: space-between;
}

/* Prevents top-menu from shifting when dropdown opens. Aligns dropdown directly below header. Creates word-wrap */
.secLevelMenu {
	position: absolute;
}

/* EXAMPLE: Increase clickable area of 2nd menu links.  Will do once everything else is formatted properly;
.secLevelMenu > li > a {
	/*border: 1px solid green;
}

.secLevelMenu > li:first-child > a:first-child::before {
    content: '';
    position: absolute;
    width: 270%;
	height: 89%;
	margin-top:-5px;
	margin-left:-15px;
	background: rgba(255, 0, 0, 0.5)
} */

/* Stop displaying dropdowns by default */
.secLevelMenu {
	display: none;
}

/* Stop displaying secondary dropdowns by default */
.thirdLevelMenu {
	display: none;
}

@media only screen and (max-width: 944px) {
	.topLevelMenu {
		background: rgba(30, 30, 30,1);
		position: fixed;
		width: 100%;
		height: 4%;
		min-height: 40px;
		max-height: 70px;
		align-items: center;
		margin: 0;
		z-index: 1000;
	}
	
	.logo {
		display: none;
	}
	
	.topLevelMenu > li {
		top: 0px;
		padding: 0px 1.7%;
		margin: 0px 0; /* Equally space items */
		white-space: nowrap;
		justify-content: space-around;
	}
}

main {
	position: absolute;
	width: 100vw;
	height: calc(100% - 40px);
	margin-top: 40px;
}

main p {
	color: white;
}

#methods ol li{
	color: white;
	list-style-type: decimal;
}



.contentContainer {
	position: relative;
	width: 100%;
	height: 100%;
	background: transparent;
	display: flex;
	align-items: flex-start;
}

.sidebar {
	position: relative;
	display: flex;
	align-items: flex-start;
	justify-content:flex-start;
	flex-direction: column;
	height: 99%;
	width: 20%;
	min-width: 200px;
	max-width: 700px;
	background: black;
	overflow-y: auto;
	overflow-x: hidden;
}

.sidebar::-webkit-scrollbar {
  display: none;
}


[class ^= "side-"] {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	min-height: 40px;
	height: 6%;
	width: 80%;
	max-height: 80px;
	padding-top: 6%;
	padding-bottom: 6%;
	padding-left: 8%;
	padding-right: 200px;
	background: rgba(50, 50, 50, 0.4);
	border-bottom: 1px solid white;
}

[class ^= "side-"]:not(.side-elephants):hover {
	background: rgba(200, 200, 255);
}

.side-dogs {
	padding-bottom: 5%;
}

.side-elephants {
	padding-top: 5%;
	border-top: 1px solid white;
	background: rgba(100, 0, 100, 1)
}

[class ^= "side-"] a {
	text-decoration: none;
	color: rgba(225, 225, 225, 1);
	font-family: sans-serif;
	font-weight: 600;
	font-size: calc(10px + 0.9vw);
	font-stretch: expanded;
}

[class ^= "side-"]:not(.side-elephants):hover a {
	color: black;
}

.projectsContainer {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	height: 100%;
	width: 90%;
	background: black;
	overflow-y: hidden;
}

[class ^= "project-"] {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	background: rgba(30, 30, 30, 1);
	height: 100%;
	width: 100%;
	margin-top: clamp(10px, 1%, 80px);
}

.proj-title {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	background: rgba(200, 200, 200, 1);
	width: 94%;
	height: 7%;
	min-height: 40px;
	padding: 0 3%
}

.proj-title p {
	color: black;
	font-family: sans-serif;
	font-weight: 600;
	font-stretch:extra-expanded;
	font-size: calc(15px + 1.3vw);
}

.summary {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	align-items: flex-start;
	background: rgba(20, 20, 20, 1);
	width: 94%;
	height: 100%;
	padding: 1% 3%;
	overflow-y: scroll;
}

.summary::-webkit-scrollbar {
  display: none;
}

.summary p:first-child {
	color: white;
	text-align: left;
	font-family: sans-serif;
	line-height: 200%;
	margin: 30px 3% 2% 3%;
}

.summary p {
	color: white;
	text-align: left;
	font-family: sans-serif;
	font-size: calc(12px + 1vw);
	line-height: 200%;
	margin: 2% 3%;
}

.summary p:last-child {
	margin: 2% 3% 60px 3%;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.projectsContainer::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.projectsContainer {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */	
}