@charset "utf-8";
/* CSS Document */

/* --------- NAVBAR DESIGN --------- */

/* Boundaries extend all the way to edge of window */
html {
	width: 100%;
}

body {
	width: 100%;
	padding: 0;
	margin: 0;
	background-color: rgba(30, 30, 30, 1);
}

/* Top menu color, width, position */
.topLevelMenu {
	background: rgba(180, 180, 180 ,0.8);
	position: fixed;
	width: 100%;
	height: 40px;
	align-items: center;
	margin: 0;
	box-shadow: 2px 2px 15px 0px black;
}

/* Logo container */
.logo {
	font-family: "Outfit", sans-serif;
	font-size: 1.1em;
	padding: 0 20px;
}

/* Top menu item position */
.topLevelMenu > li {
	top: 0px;
	padding: 0px 0px;
	margin: 0px 1vw; /* Equally space items */
	white-space: nowrap;
}

/* Top menu item link formatting */
.topLevelMenu > li > a {
	cursor: pointer;
	padding: 8px 15px;
}

/* Color change on hover over top menu item */
.topLevelMenu > li > a:hover {
	background: rgba(150, 150, 150, 0.8);
	padding: 9px 15px;
}

/* Top menu text formatting */
.topLevelMenu > li > a {
	color: black;
	text-decoration: none;
	font-family: "Outfit", sans-serif;
	font-size: 1.1em;
}

/* Secondary menu color and positioning */
.secLevelMenu {
	padding: 4px 10px 10px 10px;
	background: rgba(170, 170, 170, 0.8);
	top: 40px;
	width: 170px;
	white-space: normal;
	box-shadow: 1px 5px 5px black;
	/*border: 1px solid blue;*/
}

.secLevelMenu > li {
	position: relative;
	padding: 6px 6px 3px 6px;
}

/* Secondary menu text formatting*/
.secLevelMenu > li > a {
	text-decoration: none;
	font-family: "Outfit", sans-serif;
	font-size: 1em;
}

.secLevelMenu > li > a:hover {
	background: rgba(160, 160, 160, 1);
}

/* --------- NAVBAR FUNCTIONALITY --------- */

nav{
	position:relative;
}

/* Remove list formatting and align second and third level menus under top level menu */
ul, li {
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}

/* Place entire menu in a FlexBox and align them horizontally */
.topLevelMenu {
	display: flex;
	flex-basis: auto;
	flex-direction: row;
	justify-content: space-between;
}

/* Prevents top-menu from shifting when dropdown opens. Aligns dropdown directly below header. Creates word-wrap */
.secLevelMenu {
	position: absolute;
}

/* EXAMPLE: Increase clickable area of 2nd menu links.  Will do once everything else is formatted properly;
.secLevelMenu > li > a {
	/*border: 1px solid green;
}

.secLevelMenu > li:first-child > a:first-child::before {
    content: '';
    position: absolute;
    width: 270%;
	height: 89%;
	margin-top:-5px;
	margin-left:-15px;
	background: rgba(255, 0, 0, 0.5)
} */

/* Stop displaying dropdowns by default */
.secLevelMenu {
	display: none;
}

/* Stop displaying secondary dropdowns by default */
.thirdLevelMenu {
	display: none;
}

/* SELECTS ALL Top LEVEL MENUS (Can add :hover at the end to focus on hovering */
.topLevelMenu > li > a:first-child {
}

/* SELECTS ALL 2nd LEVEL MENUS */
.secLevelMenu > li > a:first-child {
}

/* SELECTS ALL 3nd LEVEL MENUS */
.thirdLevelMenu > li > a:first-child {
}

/* MAIN CAROUSEL */
/* Styling adapted from codingsnow.com/2021/01/image-slider-with-auto-play-manual.html */

main {
	margin: 0;
	padding: 0;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	border: 4px solid purple;
}

.slider {
	margin-top: 36px;
	width: 100%;
	height: 70%;
	overflow: hidden;
}

.slides {
	width: 500%; /* is this right */
	height: auto;
	max-height: 100%;
	display: flex;
}

.slides input {
	display: none;
}

.slide {
	width: 20%;
	transition: 2s;
}

.slide img {
	width: 100%;
	height: auto;
}

/* CSS for Manual Slide Navigation */

.navigation-manual {
	position: absolute;
	margin-top: -40px;
	width: 100%;
	display: flex;
	justify-content: center;
}

.manual-btn {
	border: 2px solid red;
	padding: 3px;
	border-radius: 10px;
	cursor: pointer;
	transition: 1s;
}

.manual-btn:not(:last-child){
	margin-right: 40px;
}

.manual-btn:hover {
	background: #40D3DC;
}

#radio-1:checked ~ .first{
  margin-left: 0;
}

#radio-2:checked ~ .first{
  margin-left: -20%;
}

#radio-3:checked ~ .first{
  margin-left: -40%;
}

#radio-4:checked ~ .first{
  margin-left: -60%;
}

/* CSS for Automatic Navigation */

.navigation-auto {
	position: absolute;
	display: flex;
	width: 100%;
	justify-content: center;
	margin-top: -40px;
}

.navigation-auto div {
	border: 2px solid #40D3DC;
  	padding: 3px;
  	border-radius: 5px;
  	transition: 1s;
}

.navigation-auto div:not(:last-child){
  margin-right: 40px;
}

#radio-1:checked ~ .navigation-auto .auto-btn1{
  background: red;
}

#radio-2:checked ~ .navigation-auto .auto-btn2{
  background: red;
}

#radio-3:checked ~ .navigation-auto .auto-btn3{
  background: red;
}

#radio-4:checked ~ .navigation-auto .auto-btn4{
  background: red;
}

/* If we end up opting only for hover, not on-click menus */
/* On hover over first menu items, display dropdowns as flexboxes 
.topLevelMenu > li:hover .secLevelMenu {
	display:flex;
	flex-direction: column;
	position: absolute;
} */

/* When move cursor from first menu to dropdowns, keep dropdowns open 
.secLevelMenu:hover {
	display:flex;
	flex-direction: column;
	border: 1px solid red;
}*/

/* If we end up using pure css checkboxes
label {
  position: relative;
  cursor: pointer;
}

input {
	display: none;
}

input:checked~.secLevelMenu {
  display: block;
}

*/

/*
.secLevelMenu:hover > li > a:first-child:hover + .thirdLevelMenu {
	display:flex;
	flex-direction: column;
	border: 1px solid blue;
}

.thirdLevelMenu:hover {
	display: flex;
	flex-direction: column;
}
*/

/* Main */