@charset "utf-8";
/* CSS Document */

/* --------- NAVBAR DESIGN --------- */

/* Boundaries extend all the way to edge of window */
html {
	width: 100%;
}

body {
	width: 100%;
	padding: 0;
	margin: 0;
	background-color: rgba(30, 30, 30, 1);
	overflow-x: hidden;
	overflow-y: auto;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Top menu color, width, position */
.topLevelMenu {
	background: rgba(30, 30, 30,1);
	position: fixed;
	width: 100%;
	height: 4%;
	min-height: 40px;
	max-height: 70px;
	align-items: center;
	margin: 0;
	z-index: 1000;
}

/* Logo container */
.logo {
	font-family: sans-serif;
	font-size: calc(7px + 0.8vw);
	color: white;
	padding: 0 20px 0 35px;
	white-space: nowrap;
}

/* Top menu item position */
.topLevelMenu > li {
	top: 0px;
	padding: 0px 0px;
	margin: 0px 1vw; /* Equally space items */
	white-space: nowrap;
}

/* Top menu item link formatting */
.topLevelMenu > li > a {
	cursor: pointer;
	padding: 9px 15px;
}

/* Color change on hover over top menu item */
.topLevelMenu > li > a:hover {
	background: rgba(80, 70, 70, 1);
	padding: 9px 15px;
}

/* Top menu text formatting */
.topLevelMenu > li > a {
	color: white;
	text-decoration: none;
	font-family: sans-serif;
	font-size: calc(7px + 0.8vw);
}

/* Secondary menu color and positioning */
.secLevelMenu {
	padding: 4px 10px 10px 10px;
	background: rgba(170, 170, 170, 0.8);
	top: 100%;
	min-width: 170px;
	width: 6%;
	white-space: normal;
	/*border: 1px solid blue;*/
}

.secLevelMenu > li {
	position: relative;
	padding: 6px 6px 3px 6px;
}

/* Secondary menu text formatting*/
.secLevelMenu > li > a {
	text-decoration: none;
	font-family: sans-serif;
	font-size: calc(10px + 0.5vw);
}

.secLevelMenu > li > a:hover {
	background: rgba(160, 160, 160, 1);
}

/* --------- NAVBAR FUNCTIONALITY --------- */

nav{
	position:relative;
}

/* Remove list formatting and align second and third level menus under top level menu */
ul, li {
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}

/* Place entire menu in a FlexBox and align them horizontally */
.topLevelMenu {
	display: flex;
	flex-basis: auto;
	flex-direction: row;
	justify-content: space-between;
}

/* Prevents top-menu from shifting when dropdown opens. Aligns dropdown directly below header. Creates word-wrap */
.secLevelMenu {
	position: absolute;
}

/* EXAMPLE: Increase clickable area of 2nd menu links.  Will do once everything else is formatted properly;
.secLevelMenu > li > a {
	/*border: 1px solid green;
}

.secLevelMenu > li:first-child > a:first-child::before {
    content: '';
    position: absolute;
    width: 270%;
	height: 89%;
	margin-top:-5px;
	margin-left:-15px;
	background: rgba(255, 0, 0, 0.5)
} */

/* Stop displaying dropdowns by default */
.secLevelMenu {
	display: none;
}

/* Stop displaying secondary dropdowns by default */
.thirdLevelMenu {
	display: none;
}

/* SELECTS ALL Top LEVEL MENUS (Can add :hover at the end to focus on hovering */
.topLevelMenu > li > a:first-child {
}

/* SELECTS ALL 2nd LEVEL MENUS */
.secLevelMenu > li > a:first-child {
}

/* SELECTS ALL 3nd LEVEL MENUS */
.thirdLevelMenu > li > a:first-child {
}

/* MAIN CAROUSEL */
/* Styling adapted from codingsnow.com/2021/01/image-slider-with-auto-play-manual.html */

main {
	margin: 0;
	padding: 0;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	/*border: 4px solid purple;*/
}

.slider {
	margin-top: 40px;
	width: 100%;
	height: 60%;
	overflow: hidden;
}

.slides {
	width: 500%; /* is this right */
	min-height: auto;
	max-height: 100%;
	display: flex;
}

.slides input {
	display: none;
}

.slide {
	width: 20%;
	transition: 2s;
}

.slide img {
	width: 100%;
	min-height: auto;
}

/* CSS for Manual Slide Navigation */

.navigation-manual {
	position: absolute;
	margin-top: -30px;
	width: 100%;
	display: flex;
	justify-content: center;
}

.manual-btn {
	border: 2px solid red;
	padding: 3px;
	border-radius: 10px;
	cursor: pointer;
	transition: 0s;
}

.manual-btn:hover {
	background: rgba(1, 1, 1, 1)
}

.manual-btn:not(:last-child){
	margin-right: 40px;
}

#radio-1:checked ~ .first{
  margin-left: 0;
}

#radio-2:checked ~ .first{
  margin-left: -20%;
}

#radio-3:checked ~ .first{
  margin-left: -40%;
}

#radio-4:checked ~ .first{
  margin-left: -60%;
}

/* CSS for Automatic Navigation */

.navigation-auto {
	position: absolute;
	display: flex;
	width: 100%;
	justify-content: center;
	margin-top: -30px;
}

.navigation-auto div {
	border: 2px solid #40D3DC;
  	padding: 3px;
  	border-radius: 5px;
  	transition: 0.5s;
}

.navigation-auto div:not(:last-child){
  margin-right: 40px;
}

/* MAIN TEXT FORMATTING */
#goal {
	display: flex;
	color: white;
	position: absolute;
	margin-top: 1.8%;
	margin-left: 10%;
	margin-right: 10%;
	max-width: 100%;
	min-width: 80%;
	justify-content: space-around;
	text-align: center;
	font-size: calc(11px + 1vw);
	font-family: sans-serif;
}

/* BOTTOM BUTTONS */
.bottomButtons {
	display: flex;
	position: absolute;
	justify-content: space-around;
	margin-top: clamp(90px, 9%, 8%);
	width: 70%;
	max-width: 2000px;
	min-width: 500px;
	margin-left: 5%;
	margin-right: 4%;
}

.bottomButtons button {
	padding: 2% 4.5%;
	font-size: calc(5px + 1.1vw);
}

.bottomButtons button:hover {
	background-color:  rgba(200, 255, 200, 1)
}

.forSpacing {
	position: absolute;
	border: 1px solid rgba(30, 30, 30, 1);
	width: 100%;
	margin-top: clamp(120px, 13%, 20%);
	z-index: -100
}

/* BOTTOM BORDER */
.bottomBar {
	display: flex;
	color: white;
	position: fixed;
	bottom: 0;
	background-color: rgba(50, 50, 50, 1);
	width: 100%;
	padding: 0.4%;
	justify-content: center;
	font-family: sans-serif;
	font-size: calc(0.1px + 1vw);
}


/* If we end up opting only for hover, not on-click menus */
/* On hover over first menu items, display dropdowns as flexboxes 
.topLevelMenu > li:hover .secLevelMenu {
	display:flex;
	flex-direction: column;
	position: absolute;
} */

/* When move cursor from first menu to dropdowns, keep dropdowns open 
.secLevelMenu:hover {
	display:flex;
	flex-direction: column;
	border: 1px solid red;
}*/

/* If we end up using pure css checkboxes
label {
  position: relative;
  cursor: pointer;
}

input {
	display: none;
}

input:checked~.secLevelMenu {
  display: block;
}

*/

/*
.secLevelMenu:hover > li > a:first-child:hover + .thirdLevelMenu {
	display:flex;
	flex-direction: column;
	border: 1px solid blue;
}

.thirdLevelMenu:hover {
	display: flex;
	flex-direction: column;
}
*/

/* Main */

