@charset "utf-8";
/* CSS Document */

/* --------- NAVBAR DESIGN --------- */

/* Boundaries extend all the way to edge of window */
html {
	width: 100%;
}

body {
	width: 100%;
	padding: 0;
	margin: 0;
}

/* Top menu color, width, position */
.topLevelMenu {
	background: rgba(200, 200, 200 ,0.8);
	position: fixed;
	width: 100%;
	height: 40px;
	align-items: center;
	margin: 0;
}

/* Logo container */
.logo {
	font-family: "Outfit", sans-serif;
	font-size: 1.1em;
	padding: 0 20px;
}

/* Top menu item position */
.topLevelMenu > li {
	top: 0px;
	padding: 0px 0px;
	margin: 0px 1vw; /* Equally space items */
	white-space: nowrap;
}

/* Top menu item link formatting */
.topLevelMenu > li > a {
	cursor: pointer;
	padding: 8px 15px;
	/*border: 1px solid red;*/
}

/* Color change on hover over top menu item */
.topLevelMenu > li > a:hover {
	background: rgba(150, 150, 150, 0.8);
}

/* Top menu text formatting */
.topLevelMenu > li > a {
	color: black;
	text-decoration: none;
	font-family: "Outfit", sans-serif;
	font-size: 1.1em;
}

/* Secondary menu color and positioning */
.secLevelMenu {
	padding: 4px 10px 10px 10px;
	background: rgba(190, 190, 190, 1);
	top: 40px;
	width: 170px;
	transform:translateX(20px); /* Aligns 2nd menu box to left border of 1st menu box*/
    margin-left: -20px;
	white-space: normal;
	/*border: 1px solid blue;*/
}

/* Secondary menu text formatting*/
.secLevelMenu > li > a {
	text-decoration: none;
	font-family: "Outfit", sans-serif;
	font-size: 1em;
}

/* --------- NAVBAR FUNCTIONALITY --------- */

nav{
	position:relative;
}

/* Remove list formatting and align second and third level menus under top level menu */
ul, li {
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}

/* Place entire menu in a FlexBox and align them horizontally */
.topLevelMenu {
	display: flex;
	flex-basis: auto;
	flex-direction: row;
	justify-content: flex-start;
}

/* Prevents top-menu from shifting when dropdown opens. Aligns dropdown directly below header. Creates word-wrap */
.secLevelMenu {
	position: absolute;
}

/* Increase selectable area for hover */
.secLevelMenu > li {
	padding: 5px 5px 0;
	/*border: 1px solid green;*/
	
}

/* Stop displaying dropdowns by default */
.secLevelMenu {
	display: none;
}

/* Stop displaying secondary dropdowns by default */
.thirdLevelMenu {
	display: none;
}

/* SELECTS ALL Top LEVEL MENUS (Can add :hover at the end to focus on hovering */
.topLevelMenu > li > a:first-child {
}

/* SELECTS ALL 2nd LEVEL MENUS */
.secLevelMenu > li > a:first-child {
}

/* SELECTS ALL 3nd LEVEL MENUS */
.thirdLevelMenu > li > a:first-child {
}


/* If we end up opting only for hover, not on-click menus */
/* On hover over first menu items, display dropdowns as flexboxes 
.topLevelMenu > li:hover .secLevelMenu {
	display:flex;
	flex-direction: column;
	position: absolute;
} */

/* When move cursor from first menu to dropdowns, keep dropdowns open 
.secLevelMenu:hover {
	display:flex;
	flex-direction: column;
	border: 1px solid red;
}*/

/* If we end up using pure css checkboxes
label {
  position: relative;
  cursor: pointer;
}

input {
	display: none;
}

input:checked~.secLevelMenu {
  display: block;
}

*/

/*
.secLevelMenu:hover > li > a:first-child:hover + .thirdLevelMenu {
	display:flex;
	flex-direction: column;
	border: 1px solid blue;
}

.thirdLevelMenu:hover {
	display: flex;
	flex-direction: column;
}
*/